table {
    position:absolute;
    top:10px;

    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #000000;
    table-layout: fixed;

    font-size: inherit;
    font-family: "Times New Roman";
    font-style: italic;

    overflow: visible;
}
 
table th, caption {
    color: #000000;
    padding: 1em 0;
    text-align: center;
}
 
table td {
    white-space: nowrap;
    border-left: 1px solid #000000;
    border-width: 0 0 0 1px;

    margin: 0;
    padding: 0.2em 0.2em;
    background-color: transparent;
}
 
table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
a {
    text-decoration:none;
}